body {
  font-family: "Open Sans", sans-serif;
  background-color: #F0F0F0  ;
}

.theImage {
  max-height: inherit;
  max-width: 100%;
}

.article {
  display: flex;
  align-items: flex-start;
  display: block;
  padding-top: 10px;
}

.description span {
  font-size: 13px;
}

.title span {
  font-size: 17px;
  font-weight: bold;
}

.url {
  font-size: 10px;
  padding-bottom: 5px;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #404040;
  padding-top: 10px;
  padding-bottom: 2px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 25px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.srcOp{
 color: aliceblue ;
  font-size: 14px;
}

.sortLabel{
  padding-right: 8px;
  font-size: 14px;
  text-decoration: none;
}

#srcOp{
  background-color: #f1f1f1;
  border: 1px;
}

#sort {
  display: flex;
  justify-content: flex-end;
  padding-top: 45px;
  padding-right: 8px;
}

.dropbtn {
  background-color: inherit;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 9px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
  border-bottom-right-radius: 10px;
}

.dropdown-content #drp {
  color: black;
  font-size: 16px;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #E8E8E8;
  border-radius: inherit;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: dodgerblue;
}
